/*############### GLOBAL STYLES ###########*/
*{
	box-sizing: border-box;
	margin: 0;
	transition: all 0.3s ease;
}
*:focus{
	outline:none;
}
.btn{
	border: 1px solid #c0c0c0;
	border-radius:50px;
	color: #222;
	padding:10px;
}

.btn:hover{
	transform: scale(1.05);
	background-color:#c0c0c0;
}

.btn a {
	text-decoration: none;
	color: #222; }

.btn:disabled{
	background-color: gray;
	color: #fff;
}
/*############### NAVABAR ###########*/

.navbar {
	height:50px;
	width:100%;
	background:#222;
	margin-bottom: 10px;
	align-items: center;
	padding:12px;
	position:sticky;
}


.navbar a {
	width:100%;
	color: #fff;
	font-family: "Monospace";
	font-size: 25px;
	text-decoration: none;
}

/*############### CATEGORIES FILTER ###########*/
.filter__button{
	max-width: 1440px;
	padding:10px;
	margin:auto;
	margin-bottom:10px;
}

.filter__button button{
	border: 2px solid #fff;
	color:#fff;
	font-weight: bold;
	text-shadow:1px 1px #222;
	padding: 7px;
	border-radius:50px;
	background-color: #184d47;
}

.filter__button button.selected{
	border: 2px solid #fff;
	color:#fff;
	background-color: #c64756;
	margin-bottom: 10px;
}

.categories__filter {
	display: none;
}

.categories__filter.show {
	display: block;
	display: flex;
	max-width: 1440px;
	margin: auto;
	flex-wrap: wrap;
	padding: 10px;
}

.category{
	margin-right: 20px;
	margin-bottom: 10px;
	border: 2px solid #222;
	padding: 7px;
	border-radius:50px;
	cursor: pointer;
}

.category.selected{
	border: 2px solid #fff;
	background-color: #96bb7c;
}

.category:hover {
	border: 2px solid #fff;
	background-color: #fad586;
}

.category.selected:hover{
	border: 2px solid #fff;
	background-color: #c64756;
}

@media only screen and (max-width: 960px)
{

.category:hover {
	border: 2px solid #222;
	background-color: #fff;
}

.category.selected:hover{
	border: 2px solid #fff;
	background-color: #96bb7c;
}

.categories__filter {
	padding: 10px;
}
}

/*############### PAGINATION ###########*/

.pagination{
	max-width:1440px;
	margin:auto;
	display: flex;
	justify-content:space-around;
	align-items:center;
	margin-top: 10px;
	margin-bottom:10px;
}


/*############### POSTS GRID ###########*/
.posts{
	max-width: 1440px;
	margin:auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	column-gap: 5px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	padding: 1rem;
  }

  .card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  .container {
	padding: 2px 16px;
  }
  .container h4{
	  border-bottom: 1px solid #222;
	  padding-bottom: 5px;
	  margin-bottom:5px;
 }

 .container p{
	color:gray;
	margin-bottom: 5px;
}
  .card__image{
	  max-width: 100%;
  }
